{namespace s=IdeFA\IdefaBase\ViewHelpers}
<s:registerVariable as="GlobalName" noprocess="1">{f:cObject(typoscriptObjectPath: 'lib.dynamicContent', data:
    {pageUid:'{settings.idefasettings.special_id}', colPos:'3'} )}</s:registerVariable>
<header>
    <div aria-label="Globale genveje" class="navbar-inverse navbar-static-top ku-topbar" role="navigation">
        <div class="container">
            <div class="col-md-6">
                <span class="topname">
                    <f:format.stripTags>{GlobalName}</f:format.stripTags>
                </span>
            </div>
        </div>
    </div>
</header>
