//
// KU color families
//

.box {
    &-red1 {
        @include color-family($gridbox-text-light, $red1, darken($red1, 5%));
    }

    &-red2 {
        @include color-family($gridbox-text-light, $red2, darken($red2, 5%));
    }

    &-red3 {
        @include color-family($white, $red3, darken($red3, 5%));
    }

    // Blues family
    &-blue1 {
        @include color-family($gridbox-text-light, $blue1, darken($blue1, 5%));
    }

    &-blue2 {
        @include color-family($gridbox-text-light, $blue2, darken($blue2, 5%));
    }

    &-blue3 {
        @include color-family($gridbox-text-dark, $blue3, darken($blue3, 5%));
    }

    // Teals family
    &-teal1 {
        @include color-family($gridbox-text-light, $teal1, darken($teal1, 5%));
    }

    &-teal2 {
        @include color-family($gridbox-text-light, $teal2, darken($teal2, 5%));
    }

    &-teal3 {
        @include color-family($gridbox-text-dark, $teal3, darken($teal3, 5%));
    }

    // Greens family
    &-green1 {
        @include color-family($gridbox-text-light, $green1, darken($green1, 5%));
    }

    &-green2 {
        @include color-family($white, $green2, darken($green2, 5%));
    }

    &-green3 {
        @include color-family($gridbox-text-dark, $green3, darken($green3, 5%));
    }

    // Greys family
    &-grey1 {
        @include color-family($gridbox-text-light, $grey1, darken($grey1, 5%));
    }

    &-grey2 {
        @include color-family($gridbox-text-light, $grey2, darken($grey2, 5%));
    }

    &-grey3 {
        @include color-family($gridbox-text-dark, $grey3, darken($grey3, 5%));
    }

    // Whites and yellows family
    &-light1 {
        @include color-family($gridbox-text-dark, $white1, darken($white1, 5%));
    }

    &-light2 {
        @include color-family($gridbox-text-dark, $white2, darken($grey3, 5%));
    }

    &-light3 {
        @include color-family($gridbox-text-dark, $white3, darken($white3, 5%));
    }
}
