//
// Footer Columns
//

.footer-section-content {
    padding: ($spacer * 1.5) 0 ($spacer * 1) 0;
}

.footer-section-content-column {
    width: 100%;
    color: $white;

    @include media-breakpoint-up('md') {
        width: calc(100% / 4);
    }
}

.local-footer {
    border-top: 1px solid $gray-ccc;

    &-container {
        padding-top: ($spacer * 1);

        p {
            margin: 0;
        }
    }

    @include media-breakpoint-up('md') {
        .footer-data {
            text-align: right;
        }
    }
}


@include media-breakpoint-down('md') {
    .footer-section-content-column {
        border-bottom: 1px solid $white;

        .frame-header {
            cursor: pointer;
        }

        .list {
            transition: height .4s ease;
            overflow: hidden;

            &:not(.active) {
                display: none;
            }
        }
    }
}

@include media-breakpoint-up('md') {
    .footer-section-content-column {

        .frame-header {
            pointer-events: none;
        }
    }
}
