//
// Global menu
//

#mainnavigation {
    flex-direction: column;
    align-items: flex-start;

}


.navbar-mainnavigation {
    .navbar-brand-image {
        img {
            max-height: 100%;
            height: 100%;
        }
    }
}
