//
// Global menu
//

.lang .icon-markup {
    margin-right: .4rem;
}

.companylogo {
    margin: auto;
    width: 100%;

    @each $breakpoint,
    $container-max-width in $container-max-widths {
        @include media-breakpoint-up($breakpoint) {
            max-width: $container-max-width - $grid-gutter-width;
        }
    }
}

.companylink {
    display: block;
    max-width: 100%;
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;
}

.menubar {
    opacity: 1;
    height: auto;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    flex-direction: column;

    ul {
        padding-left: 0;
        list-style: none;
    }

    li {
        &.active {
            background: $gray-eee;
        }
    }

    a {
        padding: .5rem .7rem .5rem .7rem;
        display: inline-block;
        flex: 1;
        position: relative;
        color: $body-color;
    }

}

.row-branding {
    width: 100%;
}

.branding-name {
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: inherit;

    &:hover {
        color: inherit;
        text-decoration: inherit;
    }
}

.sitenavigation {
    gap: .5rem;

    li {
        &.has-children {
            &>.menu_arrow {
                @extend .bi;

                &:before {
                    content: map-get($bootstrap-icons-map, "chevron-right");
                }
            }

            &.active {
                &>.menu_arrow {
                    @extend .bi;

                    &:before {
                        content: map-get($bootstrap-icons-map, "chevron-down");

                    }
                }
            }
        }
    }
}

.sitenavigation {
    position: relative;

    li {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        transition-duration: 0.5s;

        &:hover,
        &:focus-within {
            background: $gray-eee;
            cursor: pointer;
        }

        .menu_arrow {
            position: relative;
            background-color: transparent;
            border: 0;
            padding: 0;
            box-shadow: none;
            height: 16px;
            width: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: default;
            margin-right: 0.7rem;
        }

        &.has-children {
            &.active {
                background: $gray-eee;
            }
        }

        ul {
            visibility: hidden;
            opacity: 0;
            min-width: 15rem;
            list-style-type: none;
            padding-left: 0;
            position: absolute;
            transition: all 0.5s ease;
            left: 0;
            display: none;

            @include media-breakpoint-up('lg') {
                li {
                    ul {
                        // Sub menu position
                        left: 100%;
                        top: 0;
                    }
                }
            }
        }

        &.has-children:hover>ul,
        .has-children>ul:hover>ul.has-children,
        &:hover>ul.has-children,
        &:focus-within>ul.has-children {
            visibility: visible;
            opacity: 1;
            display: block;
            z-index: 10;
            position: absolute;
            top: 0;
            background-color: $white;
            border: 1px solid $gray-ccc;
        }

        @include media-breakpoint-up('lg') {
            .level-2 {
                // Second level
                top: 100% !important;
            }
        }
    }
}

@include media-breakpoint-up('lg') {
    .companylink {
        max-width: 25%;
        padding: 0;
    }

    .navbar-transition {
        // After scroll
        box-shadow: 0 3px 10px 0 rgba($black, .14);

        .utilitymenu {
            // Hide menus on scroll
            opacity: 0;
            height: 0;
            overflow: hidden;
            transition: all 0.3s ease-in;
        }
    }

    .navbar-default-transition {
        &:not(.navbar-transition) {
            .navbar-brand {
                &>img {
                    max-height: 100%;

                }
            }
        }
    }

    #page-header {
        flex-direction: column;
        background-color: $white !important;
    }

    .menubar {
        flex-direction: row;
    }

    #utilitymenu {
        align-self: self-end;
    }

    #mainnavigation {
        flex-direction: column;
        align-items: unset;
    }

    .row-sitename {
        align-items: center;
    }

    .navbar-mainnavigation {
        .navbar-nav {
            &>li {
                &>.nav-link {
                    &:before {
                        display: none;
                    }
                }
            }
        }
    }

}
