<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />
<f:section name="Border">
    <f:cObject typoscriptObjectPath="lib.dynamicContent"
        data="{pageUid: '{data.uid}', colPos: '3', slide: '{theme.pagelayout.{pagelayout}.colPos.3.slide}'}" />
</f:section>
<f:section name="Main">

    <div class="section section-default">
        <main class="main-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <f:cObject typoscriptObjectPath="lib.dynamicContent"
                            data="{pageUid: '{data.uid}', colPos: '101'}" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <f:cObject typoscriptObjectPath="lib.dynamicContent"
                            data="{pageUid: '{data.uid}', colPos: '102'}" />
                    </div>
                    <div class="col-md-6">
                        <f:cObject typoscriptObjectPath="lib.dynamicContent"
                            data="{pageUid: '{data.uid}', colPos: '128'}" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <f:cObject typoscriptObjectPath="lib.dynamicContent"
                            data="{pageUid: '{data.uid}', colPos: '103'}" />
                    </div>
                    <div class="col-md-4">
                        <f:cObject typoscriptObjectPath="lib.dynamicContent"
                            data="{pageUid: '{data.uid}', colPos: '104'}" />
                    </div>
                    <div class="col-md-4">
                        <f:cObject typoscriptObjectPath="lib.dynamicContent"
                            data="{pageUid: '{data.uid}', colPos: '105'}" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <f:cObject typoscriptObjectPath="lib.dynamicContent"
                            data="{pageUid: '{data.uid}', colPos: '106'}" />
                    </div>
                    <div class="col-md-8">
                        <f:cObject typoscriptObjectPath="lib.dynamicContent"
                            data="{pageUid: '{data.uid}', colPos: '107'}" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <f:cObject typoscriptObjectPath="lib.dynamicContent"
                            data="{pageUid: '{data.uid}', colPos: '108'}" />
                    </div>
                    <div class="col-md-4">
                        <f:cObject typoscriptObjectPath="lib.dynamicContent"
                            data="{pageUid: '{data.uid}', colPos: '109'}" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <f:cObject typoscriptObjectPath="lib.dynamicContent"
                            data="{pageUid: '{data.uid}', colPos: '110'}" />
                    </div>
                    <div class="col-md-3">
                        <f:cObject typoscriptObjectPath="lib.dynamicContent"
                            data="{pageUid: '{data.uid}', colPos: '111'}" />
                    </div>
                    <div class="col-md-3">
                        <f:cObject typoscriptObjectPath="lib.dynamicContent"
                            data="{pageUid: '{data.uid}', colPos: '112'}" />
                    </div>
                    <div class="col-md-3">
                        <f:cObject typoscriptObjectPath="lib.dynamicContent"
                            data="{pageUid: '{data.uid}', colPos: '113'}" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <f:cObject typoscriptObjectPath="lib.dynamicContent"
                            data="{pageUid: '{data.uid}', colPos: '114'}" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <f:cObject typoscriptObjectPath="lib.dynamicContent"
                            data="{pageUid: '{data.uid}', colPos: '115'}" />
                    </div>
                    <div class="col-md-6">
                        <f:cObject typoscriptObjectPath="lib.dynamicContent"
                            data="{pageUid: '{data.uid}', colPos: '116'}" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <f:cObject typoscriptObjectPath="lib.dynamicContent"
                            data="{pageUid: '{data.uid}', colPos: '117'}" />
                    </div>
                    <div class="col-md-4">
                        <f:cObject typoscriptObjectPath="lib.dynamicContent"
                            data="{pageUid: '{data.uid}', colPos: '118'}" />
                    </div>
                    <div class="col-md-4">
                        <f:cObject typoscriptObjectPath="lib.dynamicContent"
                            data="{pageUid: '{data.uid}', colPos: '119'}" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <f:cObject typoscriptObjectPath="lib.dynamicContent"
                            data="{pageUid: '{data.uid}', colPos: '120'}" />
                    </div>
                    <div class="col-md-8">
                        <f:cObject typoscriptObjectPath="lib.dynamicContent"
                            data="{pageUid: '{data.uid}', colPos: '121'}" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <f:cObject typoscriptObjectPath="lib.dynamicContent"
                            data="{pageUid: '{data.uid}', colPos: '122'}" />
                    </div>
                    <div class="col-md-4">
                        <f:cObject typoscriptObjectPath="lib.dynamicContent"
                            data="{pageUid: '{data.uid}', colPos: '123'}" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <f:cObject typoscriptObjectPath="lib.dynamicContent"
                            data="{pageUid: '{data.uid}', colPos: '124'}" />
                    </div>
                    <div class="col-md-3">
                        <f:cObject typoscriptObjectPath="lib.dynamicContent"
                            data="{pageUid: '{data.uid}', colPos: '125'}" />
                    </div>
                    <div class="col-md-3">
                        <f:cObject typoscriptObjectPath="lib.dynamicContent"
                            data="{pageUid: '{data.uid}', colPos: '126'}" />
                    </div>
                    <div class="col-md-3">
                        <f:cObject typoscriptObjectPath="lib.dynamicContent"
                            data="{pageUid: '{data.uid}', colPos: '127'}" />
                    </div>
                </div>
            </div>
        </main>
    </div>

</f:section>

<f:section name="Footer">
    <f:render partial="Structure/LocalFooter" arguments="{_all}" />
    <f:render partial="Structure/FooterContent" arguments="{_all}" />
</f:section>

</html>
