<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />
<f:section name="Border">
    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '3', slide: '{theme.pagelayout.{pagelayout}.colPos.3.slide}'}" />
</f:section>
<f:section name="Main">

    <div class="section section-default">
        <main class="main-content">
            <f:render partial="Navigation/Breadcrumb" arguments="{_all}" />
            <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '70'}" />
        </main>
    </div>

</f:section>

<f:section name="Footer">
    <f:render partial="Structure/LocalFooter" arguments="{_all}" />
    <f:render partial="Structure/FooterContent" arguments="{_all}" />
</f:section>

</html>
