<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:variable name="ku_global_menu">
    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{settings.ku.special_id}', colPos: '12'}" />
</f:variable>

<!-- Global menu -->
<f:if condition="{ku_global_menu}">
    <nav aria-label="Global navigation" class="navbar navbar-default navbar-static-top ku-nav" id="kunav">
        <div class="container">
            <div class="navbar-collapse collapse" id="navbar">
                <f:format.raw>{ku_global_menu}</f:format.raw>
            </div>
        </div>
    </nav>
</f:if>

</html>
