<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:variable name="ku_logo">
    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{settings.ku.special_id}', colPos: '11'}" />
</f:variable>
<f:variable name="ku_utility">
    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{settings.ku.special_id}', colPos: '12'}" />
</f:variable>
<!-- Grey topbar -->

<header>
    <div aria-label="Globale genveje" class="navbar-inverse navbar-static-top ku-topbar" role="navigation">
        <div class="container relative">

            <!-- KU logo -->
            <f:debug>{_all}</f:debug>
            <f:if condition="{ku_logo}">
                <f:then>
                    <a class="topbar-logo" href="https://www.ku.dk/" title="Start">
                        {ku_logo}
                        <span class="sr-only">Start</span>
                    </a>
                </f:then>
            </f:if>


            <!-- Utility menu -->
            <div class="navbar-collapse collapse" id="topbar">
                <nav aria-label="Værktøjsmenu">
                    <f:if condition="{ku_utility}">
                        <f:format.raw>{ku_utility}</f:format.raw>
                    </f:if>
                    <f:render partial="Navigation/Language" arguments="{_all}" />
                </nav>
            </div>

        </div>
    </div>
</header>

</html>
