<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:debug title="Languages">{languagenavigation}</f:debug>
<f:if condition="{languagenavigation}">
    <!-- <ul id="language_menu" class="language-menu"> -->
    <f:for each="{languagenavigation}" as="item">
        <f:if condition="{item.active}">
            <f:then>
            </f:then>
            <f:else>
                <li class="lang-{item.hreflang}">
                    <f:if condition="{item.available}">
                        <f:then>
                            <a href="{item.link}" hreflang="{item.hreflang}">
                                {item.navigationTitle}
                            </a>
                        </f:then>
                        <f:else>
                        </f:else>
                    </f:if>
                </li>
            </f:else>
        </f:if>
    </f:for>
    <!-- </ul> -->
</f:if>

</html>
