<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{subnavigation}">
    <div class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm" id="leftmenu_container">
        <nav class="" role="navigation">
            <f:render section="SubnavigationItem" arguments="{menu: subnavigation, theme: theme}" />
        </nav>
    </div>
</f:if>
<f:section name="SubnavigationItem">
    <f:if condition="{menu}">
        <f:comment><f:debug>{menu}</f:debug></f:comment>
        <ul class="nav" id="leftmenu">
            <f:for each="{menu}" as="item">
                <f:if condition="{item.spacer}">
                    <f:then>
                        <li class="subnav-divider"></li>
                    </f:then>
                    <f:else>
                        <li class="{f:if(condition: item.active, then:' active')}">
                            <a href="{item.link}" id="subnav-item-{item.data.uid}" {f:if(condition:
                                item.target, then: ' target="{item.target}"' )} {f:if(condition:
                                    item.current, then: ' aria-current="page"' )}>
                                <span class="subnav-link-text">{item.title}<f:if condition="{item.current}"> <span
                                            class="sr-only">(current)</span></f:if></span>
                            </a>
                            <f:if condition="{item.children}">
                                <f:render section="SubnavigationItem" arguments="{menu: item.children, theme: theme}" />
                            </f:if>
                        </li>
                    </f:else>
                </f:if>
            </f:for>
        </ul>
    </f:if>
</f:section>

</html>
