<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{subnavigation}">
    <div class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm" id="leftmenu_container">
        <div class="ku-navbar-header">
            <h2><a aria-label="Forside: {siteTitle}" href="#">{siteTitle}</a></h2>
          </div>
        <nav class="" role="navigation">
            <ul class="nav" id="leftmenu">
                <f:render section="SubnavigationItem" arguments="{menu: subnavigation, theme: theme}" />
            </ul>
        </nav>
    </div>
</f:if>
<f:section name="SubnavigationItem">
    <f:if condition="{menu}">
        <f:comment>
            <f:debug>{menu}</f:debug>
        </f:comment>

        <f:for each="{menu}" as="item">
            <f:if condition="{item.spacer}">
                <f:then>
                    <li class="subnav-divider"></li>
                </f:then>
                <f:else>
                    <f:if condition="{item.children}">
                        <f:then>
                            <li class="{f:if(condition: item.current, then: ' active"')}">
                        </f:then>
                        <f:else>
                            <li class="{f:if(condition: item.active, then:' active')}">
                        </f:else>
                    </f:if>
                    <a href="{item.link}" id="menuitem-{item.data.uid}" {f:if(condition: item.target,
                        then: ' target="{item.target}"' )} {f:if(condition: item.current, then: ' aria-current="page"'
                        )}>
                        {item.title}
                    </a>
                    <f:if condition="{item.children}">
                        <ul>
                            <f:render section="SubnavigationItem" arguments="{menu: item.children, theme: theme}" />
                        </ul>
                    </f:if>
                    </li>
                </f:else>
            </f:if>
        </f:for>

    </f:if>
</f:section>

</html>
