<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<!-- Navnetraek -->

<div class="container ku-branding">
    <div class="row row-equal-height">
      <div class="col-sm-7 ku-branding-line">
        <div class="ku-branding-logo">
          <a aria-label="{siteTitle}" href="#" title="{pageTitle}">
            <img alt="{siteTitle}" class="img-responsive" src="/typo3conf/ext/ku_global_layout/Resources/Public/Icons/faelles.svg">
          </a>
        </div>
        <div class="ku-branding-text">
          <a href="/testarea/nanna/gridforside/" tabindex="-1">
              <div class="ku-branding-text-major">{siteTitle}</div>
              <div class="ku-branding-text-sub"></div>
          </a>
        </div>
      </div>
      <div class="col-sm-5 search-area">
       
      </div>
    </div>
  </div>

</html>
