<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>This menu iterates over a folder with pages for the global menu, id 492.</f:comment>
<f:variable name="globalMenuItem">{settings.ku.globalMenu.relation}</f:variable>

<f:if condition="{settings.ku.globalMenu.enable} > 0">
    <f:if condition="{globalnavigation}">
        <f:render section="GlobalMenu" arguments="{_all}" />
    </f:if>
</f:if>
<f:comment>This menu iterates over a folder with pages for the global menu, id 492.</f:comment>

<f:section name="GlobalMenu">
    <f:if condition="{globalnavigation}">
        <ul class="menubar globalmenu">
            <f:for each="{globalnavigation}" as="item">
                <li
                    class="nav-item{f:if(condition: item.active, then:' active')}{f:if(condition: item.children, then:' has-children')} {f:if(condition: '{globalMenuItem} == {item.data.uid}', then: 'active')}">
                    <a href="{item.link}" id="nav-item-{item.data.uid}"
                        class="nav-link{f:if(condition: item.children, then:' has-child')}" {f:if(condition:
                        item.target, then: ' target="{item.target}"' )} title="{item.title}" {f:if(condition: item.current, then: ' aria-current="page"' )}>
                        <span class="nav-link-text">{item.title}<f:if condition="{item.current}"> <span
                                    class="visually-hidden">(current)</span></f:if></span>
                    </a>
                </li>
            </f:for>
        </ul>
    </f:if>
</f:section>

</html>
