<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers" data-namespace-typo3-fluid="true">

<f:variable name="headerClass">bp-page-header navbar navbar-mainnavigation navbar-{theme.navigation.style}</f:variable>
<f:variable name="headerClass">{headerClass}{f:if(condition: logo.normal, then:' navbar-has-image')}</f:variable>
<f:variable name="headerClass">{headerClass}{f:if(condition: theme.navigation.type, else:' navbar-top', then:'
    navbar-{theme.navigation.type} navbar-fixed-{theme.navigation.type}')}</f:variable>
<header id="page-header" class="{headerClass}">
    <div class="container">
        <f:if condition="{mainnavigation}">
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-bs-toggle="collapse"
                data-target="#mainnavigation" data-bs-target="#mainnavigation" aria-controls="mainnavigation"
                aria-expanded="false"
                aria-label="{f:translate(key: 'togglenavigation', extensionName: 'bootstrap_package')}">
                <span class="navbar-toggler-icon"></span>
            </button>
            <nav id="mainnavigation" class="collapse navbar-collapse">
                <f:render partial="Navigation/Utilitymenu" arguments="{_all}" />
                <f:render partial="DropIn/Navigation/MainBefore" arguments="{_all}" />
                <f:render partial="Navigation/Globalnavigation" arguments="{_all}" />
                <f:render section="MainNavigation" arguments="{menu: mainnavigation, theme: theme}" />
                <f:render partial="DropIn/Navigation/MainAfter" arguments="{_all}" />
                <f:comment>
                    <f:render partial="Navigation/Thirdlevelmenu" arguments="{_all}" />
                </f:comment>
            </nav>
        </f:if>
    </div>
    <div class="container">
        <div class="row row-branding">
            <div class="col-md-auto">
                <f:link.page pageUid="{rootPage}"
                    class="navbar-brand navbar-brand-{f:if(condition: logo.normal, then: 'image', else: 'text')}"
                    title="{settings.logo.linktitle}">
                    <f:if condition="{logo.normal}">
                        <f:then>
                            <img class="navbar-brand-logo-normal" src="{f:uri.image(image: logo.normal)}"
                                alt="{logoAlt}" height="{settings.logo.height}" width="{settings.logo.width}">
                            <f:if condition="{logo.inverted}">
                                <img class="navbar-brand-logo-inverted" src="{f:uri.image(image: logo.inverted)}"
                                    alt="{logoAlt}" height="{settings.logo.height}" width="{settings.logo.width}">
                            </f:if>
                        </f:then>
                        <f:else>
                            <span>{siteTitle}</span>
                        </f:else>
                    </f:if>
                </f:link.page>
            </div>
            <div class="col">
                <div class="sitename">
                    <f:link.page pageUid="{rootPage}" class="branding-name" tabindex="-1">{siteTitle}</f:link.page>
                </div>
            </div>
        </div>
    </div>
</header>

<f:section name="MainNavigation">
    <f:if condition="{menu}">
        <ul class="menubar sitenavigation">
            <f:for each="{menu}" as="item">
                <f:if condition="{item.spacer}">
                    <f:then>
        </ul>
        <ul class="menubar">
            </f:then>
            <f:else>
                <li
                    class="{f:if(condition: item.active, then:' active')}{f:if(condition: item.children, then:' has-children')}">
                    <a href="{item.link}" id="item-{item.data.uid}"
                        class="menu-link{f:if(condition: item.children, then:' has-child')}" {f:if(condition:
                        item.target, then: ' target="{item.target}"' )} {f:if(condition:
                        item.children, then: ' aria-haspopup="true"' )} title="{item.title}">
                        <span class="menu-link-text">{item.title}<f:if condition="{item.current}"> <span
                                    class="visually-hidden">(current)</span></f:if></span>
                    </a>

                    <f:if condition="{item.children}">
                        <ul class="level-2{f:if(condition: item.children, then:' has-children')}">
                            <f:for each="{item.children}" as="child">
                                <f:if condition="{child.spacer}">
                                    <f:then>
                                        <li class="dropdown-divider"></li>
                                    </f:then>
                                    <f:else>
                                        <li class="{f:if(condition: child.active, then:' active')}{f:if(condition: child.children, then:' has-children')}">
                                            <a href="{child.link}"
                                                class="menu-link{f:if(condition: child.children, then:' has-child')}{f:if(condition: child.active, then:' active')}" {f:if(condition:
                                                child.target, then: ' target="{child.target}"' )} title="{child.title}">
                                                <span class="item-text">{child.title}<f:if condition="{child.current}">
                                                        <span class="visually-hidden">(current)</span></f:if></span>
                                            </a>

                                            <f:comment>
                                                <!-- Level 2 -->
                                            </f:comment>
                                            <f:if condition="{child.children}">
                                                <ul class="level-3{f:if(condition: child.children, then:' has-children')}">
                                                    <f:for each="{child.children}" as="child2">
                                                        <f:if condition="{child2.spacer}">
                                                            <f:then>
                                                                <li class="dropdown-divider"></li>
                                                            </f:then>
                                                            <f:else>
                                                                <li
                                                                    class="{f:if(condition: child2.active, then:' active')}{f:if(condition: child2.children, then:' has-children')}">
                                                                    <a href="{child2.link}"
                                                                        class="menu-link{f:if(condition: child2.children, then:' has-child')}{f:if(condition: child2.active, then:' active')}"
                                                                        {f:if(condition: child2.target,
                                                                        then: ' target="{child2.target}"' )}
                                                                        {f:if(condition: child2.current,
                                                                        then: ' aria-current="page"' )}
                                                                        title="{child2.title}">
                                                                        <span class="item-text">{child2.title}<f:if
                                                                                condition="{child2.current}"> <span
                                                                                    class="visually-hidden">(current)</span>
                                                                            </f:if></span>
                                                                    </a>

                                                                    <f:comment>
                                                                        <!-- Level 3 -->
                                                                    </f:comment>
                                                                    <f:if condition="{child2.children}">
                                                                        <ul class="level-4{f:if(condition: child2.children, then:' has-children')}">
                                                                            <f:for each="{child2.children}" as="child3">
                                                                                <f:if condition="{child3.spacer}">
                                                                                    <f:then>
                                                                                        <li class="dropdown-divider">
                                                                                        </li>
                                                                                    </f:then>
                                                                                    <f:else>
                                                                                        <li
                                                                                            class="{f:if(condition: child3.active, then:' active')}{f:if(condition: child3.children, then:' has-children')}">
                                                                                            <a href="{child3.link}"
                                                                                                class="menu-link{f:if(condition: child3.children, then:' has-child')}{f:if(condition: child3.active, then:' active')}"
                                                                                                {f:if(condition:
                                                                                                child3.target,
                                                                                                then: ' target="{child3.target}"'
                                                                                                )} {f:if(condition:
                                                                                                child3.current,
                                                                                                then: ' aria-current="page"'
                                                                                                )}
                                                                                                title="{child3.title}">
                                                                                                <span
                                                                                                    class="item-text">{child3.title}
                                                                                                    <f:if
                                                                                                        condition="{child3.current}">
                                                                                                        <span
                                                                                                            class="visually-hidden">(current)</span>
                                                                                                    </f:if>
                                                                                                </span>
                                                                                            </a>

                                                                                            <f:comment>
                                                                                                <!-- Level 4 -->
                                                                                            </f:comment>
                                                                                            <f:if
                                                                                                condition="{child3.children}">
                                                                                                <ul class="level-5">
                                                                                                    <f:for
                                                                                                        each="{child3.children}"
                                                                                                        as="child4">
                                                                                                        <f:if
                                                                                                            condition="{child4.spacer}">
                                                                                                            <f:then>
                                                                                                                <li
                                                                                                                    class="dropdown-divider">
                                                                                                                </li>
                                                                                                            </f:then>
                                                                                                            <f:else>
                                                                                                                <li class="{f:if(condition: child4.active, then:' active')}{f:if(condition: child4.children, then:' has-children')}">
                                                                                                                    <a href="{child4.link}"
                                                                                                                        class="menu-link{f:if(condition: child4.children, then:' has-child')}{f:if(condition: child4.active, then:' active')}"
                                                                                                                        {f:if(condition:
                                                                                                                        child4.target,
                                                                                                                        then: ' target="{child4.target}"'
                                                                                                                        )}
                                                                                                                        {f:if(condition:
                                                                                                                        child4.current,
                                                                                                                        then: ' aria-current="page"'
                                                                                                                        )}
                                                                                                                        title="{child4.title}">
                                                                                                                        <span
                                                                                                                            class="item-text">{child4.title}
                                                                                                                            <f:if
                                                                                                                                condition="{child4.current}">
                                                                                                                                <span
                                                                                                                                    class="visually-hidden">(current)</span>
                                                                                                                            </f:if>
                                                                                                                        </span>
                                                                                                                    </a>
                                                                                                            </f:else>
                                                                                                        </f:if>
                                                                                                    </f:for>
                                                                                                </ul>
                                                                                            </f:if>
                                                                                            <f:comment>
                                                                                                <!-- Level 4 End -->
                                                                                            </f:comment>
                                                                                    </f:else>
                                                                                </f:if>
                                                                            </f:for>
                                                                        </ul>
                                                                    </f:if>
                                                                    <f:comment>
                                                                        <!-- Level 3 End -->
                                                                    </f:comment>
                                                            </f:else>
                                                        </f:if>
                                                    </f:for>
                                                </ul>
                                            </f:if>
                                            <f:comment>
                                                <!-- Level 2 End -->
                                            </f:comment>
                                        </li>
                                    </f:else>
                                </f:if>
                            </f:for>
                        </ul>
                    </f:if>
                </li>
            </f:else>
    </f:if>
    </f:for>
    </ul>
    </f:if>
</f:section>



</html>
