<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers" data-namespace-typo3-fluid="true">

<f:variable name="headerClass">bp-page-header navbar navbar-mainnavigation navbar-{theme.navigation.style}</f:variable>
<f:variable name="headerClass">{headerClass}{f:if(condition: logo.normal, then:' navbar-has-image')}</f:variable>
<f:variable name="headerClass">{headerClass}{f:if(condition: theme.navigation.type, else:' navbar-top', then:'
    navbar-{theme.navigation.type} navbar-fixed-{theme.navigation.type}')}</f:variable>
<f:comment>
    <f:debug title="" inline="">{_all}</f:debug>
</f:comment>
<header id="page-header" class="{headerClass}">
    <f:if condition="{settings.ku.companyName.enable} > 0">
        <div class="companylogo">
            <f:link.page pageUid="{rootPage}" class="companylink" tabindex="-1" title="Start">
                <f:if condition="{pageLanguage} = 0">
                    <f:then>
                        <img src="/typo3conf/ext/ku_prototype/Resources/Public/Images/Frontend/ku_top_dk.svg" alt="">
                    </f:then>
                    <f:else>
                        <img src="/typo3conf/ext/ku_prototype/Resources/Public/Images/Frontend/ku_top_uk.svg" alt="">
                    </f:else>
                </f:if>
            </f:link.page>
        </div>
    </f:if>
    <div class="container">
        <f:if condition="{mainnavigation}">
            <f:link.page pageUid="{rootPage}"
                class="navbar-brand navbar-brand-{f:if(condition: logo.normal, then: 'image', else: 'text')}"
                title="{settings.logo.linktitle}">
                <f:if condition="{logo.normal}">
                    <f:then>
                        <img class="navbar-brand-logo-normal" src="{f:uri.image(image: logo.normal)}" alt="{logoAlt}"
                            height="{settings.logo.height}" width="{settings.logo.width}">
                        <f:if condition="{logo.inverted}">
                            <img class="navbar-brand-logo-inverted" src="{f:uri.image(image: logo.inverted)}"
                                alt="{logoAlt}" height="{settings.logo.height}" width="{settings.logo.width}">
                        </f:if>
                    </f:then>
                </f:if>
            </f:link.page>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-bs-toggle="collapse"
                data-target="#mainnavigation" data-bs-target="#mainnavigation" aria-controls="mainnavigation"
                aria-expanded="false"
                aria-label="{f:translate(key: 'togglenavigation', extensionName: 'bootstrap_package')}">
                <span class="navbar-toggler-icon"></span>
            </button>
            <nav id="mainnavigation" class="collapse navbar-collapse">
                <f:render partial="Navigation/Utilitymenu" arguments="{_all}" />
                <f:render partial="DropIn/Navigation/MainBefore" arguments="{_all}" />
                <f:render partial="Navigation/Globalnavigation" arguments="{_all}" />
                <f:render partial="Navigation/MainNavigation" arguments="{_all}" />
                <f:render partial="DropIn/Navigation/MainAfter" arguments="{_all}" />
                <f:comment>
                    <f:render partial="Navigation/Thirdlevelmenu" arguments="{_all}" />
                </f:comment>
            </nav>
        </f:if>
    </div>
</header>
<div class="container">
    <div class="row row-sitename">
        <div class="col offset-md-3">
            <div class="sitename">
                <f:link.page pageUid="{rootPage}" class="branding-name" tabindex="-1">{siteTitle}</f:link.page>
            </div>
        </div>
    </div>
</div>

</html>
