<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:variable name="global_local_footer_address"><f:cObject typoscriptObjectPath="lib.dynamicContentSlide"  data="{pageUid: '{settings.ku.special_id}', colPos: '21'}" /></f:variable>

<f:variable name="local_footer_contact"><f:cObject typoscriptObjectPath="lib.dynamicContentSlide"  data="{pageUid: '{settings.ku.special_id}', colPos: '22'}" /></f:variable>

<f:if condition="{settings.ku.localFooter.enable} > 0">
    <section class="section section-default local-footer">
        <div class="container local-footer-container">
            <div class="row">
                <div class="col-md-6 footer-address">
                    <address>
                        <f:format.raw>{global_local_footer_address}</f:format.raw>
                    </address>
                </div>
                <div class="col-md-6 footer-data">
                    <f:if condition="{local_footer_contact}">
                        <f:then>
                            <address>
                                <f:format.raw>{local_footer_contact}</f:format.raw>
                            </address>
                        </f:then>
                    </f:if>
                </div>
            </div>
        </div>
    </section>
</f:if>


</html>
