<f:layout name="Default" />
<f:section name="Main">

    <f:switch expression="{data.tx_modals_type}">
        <f:case value="default">
            <a href="#" class="tx-modals-link" data-type="{data.tx_modals_type}" data-target="#tx-modals-modal-{data.uid}">{data.tx_modals_button_label}</a>
            <f:render section="ModalWindow" arguments="{content:data.bodytext,uid:data.uid,title:data.tx_modals_modal_title}"/>
        </f:case>
        <f:defaultCase>
            <a href="#" class="tx-modals-link" data-type="{data.tx_modals_type}" data-target="#tx-modals-modal-{data.uid}">{data.tx_modals_button_label}</a>
            <f:render section="ModalWindow" arguments="{content:data.bodytext,uid:data.uid,title:data.tx_modals_modal_title}"/>
        </f:defaultCase>
    </f:switch>

</f:section>

<f:section name="ModalWindow">
    <div class="tx-modals-modal" id="tx-modals-modal-{uid}">
        <div class="tx-modals-dialog">
            <div class="tx-modals-content">
                <div class="tx-modals-header">
                    <h4 class="tx-modals-title">{title}</h4>
                    <button type="button" class="tx-modals-close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="tx-modals-body">
                    <f:format.html>{content}</f:format.html>
                </div>
                <div class="tx-modals-footer">

                </div>
            </div>
        </div>
    </div>
</f:section>
